@{
    ViewData["Title"] = "AdminPanel";
}

<h1>Wellcome</h1>
<hr/>
<p>
    punkace admin panel 
</p>

<input type="hidden" name="ActiveLink" id="ActiveLink" data-parent="home" data-current="homepage" />