/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.validation-summary-valid {
    display: none;
}

.menu-item {
    list-style: none;
}

.menu-item-parent {
    padding-left: 1px !important;
}

.loading {
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

#image-modal-content {
    width: 100%;
}

footer {
    width: auto !important;
}

.w-100 {
    width: 100%;
}

.modal-footer .btn, .btn-standard {
    width: 100px;
    min-width: 100px;
}

.input-validation-error {
    border: 1px solid rgb(255, 0, 0) !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

hr.header-divider {
    margin-top: 0;
}

.goto-right {
    float: right;
    right: 0;
    left: auto;
    text-align: right;
}

.user-role {
    font-size: 12.5px;
}

.user-name {
    font-size:17px;
    font-weight:bold;
}

.ck-content {
    min-height: 150px !important;
    max-height: 150px !important;
    height: 150px !important;
}